# object files
*.o

# compiled externals
*.pd_darwin
*.pd_linux
*.dll

# documentation (perhabs an automatic generation at commit / push would be appropiate
docs
html
latex

# valgrind logs
valgrind.log
