[submodule "pd-lib-builder"]
	path = pd-lib-builder
	url = https://github.com/pure-data/pd-lib-builder
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
